* {
    margin: 0;
    padding: 4px;
}

.cabecario {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.cabeçario-triangulo {
    width: 20%;
}

.texto-1 {
    display: inline-block;
    margin: 0px 20px
}


a {
    text-decoration: none;
}

.imagem-perfil {
    display: inline-block;
    margin: -14px 36px;
}

.parte-azul {
    margin: 4px 6px;
}

img.parte-azul {
    width: 99%;
}

.texto-em-cima1 {
    TEXT-ALIGN: center;
    color: #294887;
    font-size: 27px;
    margin: 20px;
}

.texto-em-cima1 {
    margin: 17px;
}

.inicio11 {
    background-color: #124366;
    TEXT-ALIGN: center;
    color: #ffffff;
    font-size: 27px;
}


.texto-em-cima2 {
    text-align: center;
    color: #294887;
    font-size: 27px;
    margin: 20px;
}

.texto-2 {
    background-color: #124366;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;
    font-size: 20px;
}

.texto-em-baixo1 {
    text-align: center;
    color: #294887;
    font-size: 27px;
    margin: 23px;
}


.texto-em-baixo2 {
    text-align: center;
    color: #294887;
    font-size: 27px;
}


.ajudar {
    background-color: #124366;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.texto-final {
    background-color: #124366;
    text-align: center;
    color: #ffffff;
    font-size: 27px;
}


.texto-final-5 {
    background-color: #124366;
    color: #ffffff;
    margin: 53px;
    text-align: center;
    font-size: 27px;
    margin: 13px 0%;
}


a {
    text-decoration: none;
}

.fale-conosco1 {
    background-color: #ffffff;
    text-align: center;
    color: #294887;
    font-size: 25px;
    display: block;
}

#botão-em-cima {
    position: fixed;
    top: 20px;
    left: 20px;
}

.botão-que-volta-inicio {
    display: block;
    padding: 1rem;
    background: #d0ffff;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.texto-2html {
    font-size: 3rem;
    color: #124366;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}

.form label {
    color: #124366;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid#124366;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form {
    width: 100%;
    max-width: 4rem;
    font-size: 1.125rem;
    align-items: center;
}

@media screen and (min-width:1024px) {
    .texto-2 {
        font-size: 17px;
    }

    .texto-2html {
        font-size: 2rem;
        margin-bottom: 5rem;
    }
}

@media screen and (min-width:428px) {
    .cabecario {
        display: flex;
        font-size: 14px;
        flex-direction: column;
    }

    .cabeçario-triangulo {
        width: 41%;
    }

    .texto-em-cima1 {
        TEXT-ALIGN: center;
        color: #294887;
        font-size: 21px;
        margin: 8px;
    }

    .inicio11 {
        background-color: #124366;
        TEXT-ALIGN: center;
        color: #ffffff;
        font-size: 16px;
    }

    .texto-em-cima2 {
        text-align: center;
        color: #294887;
        font-size: 21px;
        margin: 8px;
    }


    .texto-2 {
        background-color: #124366;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
        margin: 5px 2px;
        font-size: 15px;
        flex-direction: column;
    }

    .texto-final {
        background-color: #124366;
        text-align: center;
        color: #ffffff;
        font-size: 17px;
    }

    .texto-em-baixo1 {
        text-align: center;
        color: #294887;
        font-size: 21px;
        margin: 8px;
    }

    .texto-final-5 {
        background-color: #124366;
        color: #ffffff;
        margin: 53px;
        text-align: center;
        font-size: 21px;
        margin: 13px 0%;
    }

    .texto-2html {
        font-size: 2rem;
        color: #124366;
        margin-bottom: 2rem;
        text-align: center;
        line-height: 1.2;
        margin: 53px;
    }

}