* {
    margin: 0;
    padding: 4px;
}

.cabecario {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.cabeçario-triangulo {
    width: 20%;
}

.texto-1 {
    display: inline-block;
    margin: 0px 20px
}


a {
    text-decoration: none;
}

.imagem-perfil {
    display: inline-block;
    margin: -14px 36px;
}

.parte-azul {
    margin: 4px 6px;
}

img.parte-azul {
    width: 99%;
}

.texto-em-cima1 {
    TEXT-ALIGN: center;
    color: #294887;
    font-size: 27px;
    margin: 20px;
}

.texto-em-cima1 {
    margin: 17px;
}

.inicio11 {
    background-color: #124366;
    TEXT-ALIGN: center;
    color: #ffffff;
    font-size: 27px;
}


.texto-em-cima2 {
    text-align: center;
    color: #294887;
    font-size: 27px;
    margin: 20px;
}

.texto-2 {
    background-color: #124366;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;
    font-size: 20px;
}

.texto-em-baixo1 {
    text-align: center;
    color: #294887;
    font-size: 27px;
    margin: 23px;
}


.texto-em-baixo2 {
    text-align: center;
    color: #294887;
    font-size: 27px;
}


.ajudar {
    background-color: #124366;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.texto-final {
    background-color: #124366;
    text-align: center;
    color: #ffffff;
    font-size: 27px;
}


.texto-final-5 {
    background-color: #124366;
    color: #ffffff;
    margin: 53px;
    text-align: center;
    font-size: 27px;
    margin: 13px 0%;
}


a {
    text-decoration: none;
}

.fale-conosco1 {
    background-color: #ffffff;
    text-align: center;
    color: #294887;
    font-size: 25px;
    display: block;
}
